<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file> Home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ParseResult</servlet-name>
        <servlet-class>ExtractBiblio.BiblioParseResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimParseResult</servlet-name>
        <servlet-class>ExtractBiblio.ClaimParseResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ExtractBiblio.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFDownloadResult</servlet-name>
        <servlet-class>ExtractBiblio.PDFDownloadResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageDownloadResult</servlet-name>
        <servlet-class>ExtractBiblio.ImageDownloadResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FamilyParseResult</servlet-name>
        <servlet-class>ExtractBiblio.FamilyParseResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescriptionParseResult</servlet-name>
        <servlet-class>ExtractBiblio.DescriptionParseResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet1</servlet-name>
        <servlet-class>ExtractBiblio.MainServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParseResult</servlet-name>
        <url-pattern>/ParseResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimParseResult</servlet-name>
        <url-pattern>/ClaimParseResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFDownloadResult</servlet-name>
        <url-pattern>/PDFDownloadResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageDownloadResult</servlet-name>
        <url-pattern>/ImageDownloadResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FamilyParseResult</servlet-name>
        <url-pattern>/FamilyParseResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescriptionParseResult</servlet-name>
        <url-pattern>/DescriptionParseResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet1</servlet-name>
        <url-pattern>/MainServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
